<section id="container">
  <div class="add-new">
    <input
      type="text"
      class="form-control"
      placeholder="Task Name"
      aria-describedby="inputGroup-sizing-sm"
      [(ngModel)]="taskName"
    />
    <select class="custom-select" [(ngModel)]="taskDifficulty">
        <option selected [ngValue]="''" hidden>Selected</option>
      <option value="Easy">Easy</option>
      <option value="Medium">Medium</option>
      <option value="Hard">Hard</option>
    </select>
    <button class="btn btn-primary" (click)="addNewItem()">Add</button>
  </div>
  <div class="cards">
    <div class="card to-do">
      <div class="card-header">
        <i class="fa fa-sliders"></i>
        To-do
      </div>
      <div class="card-body">
        <ng-container *ngIf="todoItems.length; else empty">
        <div class="card inner-card" *ngFor="let item of todoItems">
            <div class="card-body">
              <div class="info">
                  <h5 class="card-title">{{item.id}}.{{item.name}}</h5>
                  <span class="tag">{{item.difficulty}}</span>
              </div>
              <div class="actions">
                  <button class="btn btn-primary" (click)="moveForward(item)"><i class="fa fa-arrow-right"></i></button>
                  <button class="btn btn-danger" (click)="deleteItem('todoItems', item.id)"><i class="fa fa-close"></i></button>
              </div>
            </div>
        </div>
        </ng-container>
      </div>
    </div>
    <div class="card in-progress">
      <div class="card-header">
        <i class="fa fa-sliders"></i>
        In Progress
      </div>
      <div class="card-body">
        
        <ng-container *ngIf="inProgressItems.length; else empty">
        <div class="card inner-card" *ngFor="let item of inProgressItems">
            <div class="card-body">
              <div class="info">
                  <h5 class="card-title">{{item.id}}.{{item.name}}</h5>
                  <span class="tag">{{item.difficulty}}</span>
              </div>
              <div class="actions">
                  <button class="btn btn-primary" (click)="moveBackward(item)"><i class="fa fa-arrow-left"></i></button>
                  <button class="btn btn-primary" (click)="moveForward(item)"><i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
        </div>
        </ng-container>
      </div>
    </div>
    <div class="card done">
      <div class="card-header">
        <i class="fa fa-sliders"></i>
        Done
      </div>
      <div class="card-body">
        <ng-container *ngIf="doneItems.length; else empty">
        <div class="card inner-card" *ngFor="let item of doneItems">
            <div class="card-body">
              <div class="info">
                  <h5 class="card-title">{{item.id}}.{{item.name}}</h5>
                  <span class="tag">{{item.difficulty}}</span>
              </div>
              <div class="actions">
                <button class="btn btn-primary" (click)="moveBackward(item)"><i class="fa fa-arrow-left"></i></button>
              </div>
            </div>
        </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
<ng-template #empty>List is empty</ng-template>