body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
#container {
  width: 80%;
  margin: 0 auto;
  .add-new {
    display: flex;
    padding: 20px 0;
    input {
      width: 300px;
    }
    select {
      margin: 0 10px;
      border: 1px solid silver;
      background: none;
      border-radius: 5px;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    .to-do {
      border: 1px solid rgb(0, 153, 255);
    }
    .in-progress {
      border: 1px solid cyan;
    }
    .done {
      border: 1px solid rgb(10, 238, 10);
    }
  }
}
.inner-card {
  margin-bottom: 10px;
}
